Q: Hvilke overførsels lønarterne skal jeg bruge i forbindelse med årsskifte?
A: Følgende saldi kan overføres til nyt år ved brug af lønarterne:
- Lønart 310 - Feriefridage
- Lønart 311 - Feriefritimer
- Lønart 312 - Feriefribeløb
- Lønart 313 - Afspadseringstimer
- Lønart 314 - Omsorgsdage
- Lønart 315 - Omsorgstimer
- Lønart 316 - Aftalefridage
- Lønart 317 - Aftalefritimer
- Lønart 324 - Afspadsering timer og beløb - hentes fra rapporten "Afstemningsliste (lønperiode)
- Lønart 373 – Seniorordning
- Lønart 402 – Fritvalgskonto
- Lønart 403 – Fritvalgskonto lokal

Link fra hjælpecenter:
https://help.vismaenterprise.dk/vismaloen-standard/aarsskifte/00057-arsskifte-2023-2024



Q: Hvilken lønart skal jeg bruge i forbindelse med overførsel af saldo ved årsskiftet for 
feriefridage?
A: Lønart 310 - Feriefridage

Link fra hjælpecenter:
https://help.vismaenterprise.dk/vismaloen-standard/tillaeg/00160-Loentillaeg_store_bededag



Q: Hvilken statistik kode skal jeg bruge for store bededagstillæg.
A:
IP type 0630 - Løntillæg for St. Bededag

IP kode:
1 = to gange årligt maj/august
2 = hver lønperiode
3 = indarbejdet i lønnen Medarbejdere, hvor tillægget er indarbejdet som en del af den 
almindelige løn, efter skriftlig aftale mellem arbejdsgiver og arbejdstager
4 = medarbejder ikke berettiget til tillæg Medarbejdere, hvis arbejdstid ikke er forøget som 
følge af afskaffelsen af store bededag, og som dermed ikke er berettiget til et løntillæg

Link fra hjælpecenter:
https://help.vismaenterprise.dk/vismaloen-standard/tillaeg/00160-Loentillaeg_store_bededag

Q: Hvilken form for udbetaling af St. Bededag bliver der brugt?
A: Dette fordi at statistikken kan sættes op kræver både en IP type (630) og en IP kode




Q: Hvilken MLE kode skal jeg bruge for at lave en decentral indlæsning med ændring af reg og 
kontonr.
A:
MLE-35-REGK

Link fra hjælpecenter:
https://help.vismaenterprise.dk/vismaloen-standard/decantral-registrering/00086-decentral-registrering



Q: Hvilken MLE kode skal jeg bruge for at kunne danne en indlæsningsfil med fravær.
A:
MLE-55-FRAV

Link fra hjælpecenter:
https://help.vismaenterprise.dk/vismaloen-standard/decantral-registrering/00086-decentral-registrering
