A: 
Du skal gå I Visma Løn under Lønadministration og klikke videre på 
kørselsselektion. Derefter taster du den aktuelle kørselsordre og trykker på ”Find”.
Den ønskede kørselsordre vil komme frem på skærmen og du kan i feltet 
”Disp.dato” ændre dispositionsdatoen.
Når dispositionsdatoen er tastet skal du klikke på ”Gem”

A:
1. Gå til Lønadministration → Kørselsselektion
2. Angiv 'kørselsordre'
3. Klik på 'Find'
4. Find den kørselsselektion, det vedrører
5. Angiv dispositionsdato i feltet ’Disp.dato’
6. Klik på Gem

------
A:
Lønart 5501
A: 
Til dit spørgsmål vil du kunne bruge lønart 5501 som automatisk er sat op i 
systemet efter ligningslovens § 7U, hvor de første 8000 kr. anses for at være 
skattefrie.

-----
A:
Lønart 3121
A:
Du kan bruge lønart 3121. Denne lønart bliver automatisk indberettet til SKAT og 
indgår i felt 13 (a-indkomst)

----
A:
Lønart 1531

A:
Du kan bruge lønart 1531 da den er ferieberettiget og ikke pensionsgivende.
Bemærk: at lønart 1533 og lønart 1535 kan bruges på samme vilkår som lønart 
1531 og at det afhænger af din kontering af kontoplanen.

-----
A:
Lønart 1561

A:
Lønart 1561 kan du bruge, da den er ferie- og pensionsberettiget. Lønart 1561 er 
indgår bl.a. også i pensionsgrundlag 1.