{{system_instructions}}

Please follow the examples provided below to understand how to use this prompt effectively:

{{fewshot_examples}}


Let's think step by step to answer the user question.

{{context}}